<table class="table table-bordered">
    <tr>
      <th style="width: 10px">#</th>
      <th>公司Logo</th>
      <th>公司名称</th>
      <th>职位名称</th>
      <th>工作地点</th>
      <th>发布时间</th>
      <th>岗位薪资</th>
      <th style="width: 180px">操作</th>
    </tr>
    {{#if hasResult}}
    {{#each data}}
    <tr data-id = {{_id}}> 
      <td>{{@index}}</td>
      <td><img width="50" height="50" src="http://localhost:3000/upload/{{companyLogo}}" alt=""></td>
      <td>{{companyName}}</td>
      <td>{{positionName}}</td>
      <td>{{city}}</td>
      <td>{{createTime}}</td>
      <td>{{salary}}</td>
      <td>
        <button class="btn btn-sm btn-primary btn-update"><span class="fa fa-edit"></span>
          修改</button>
        <button class="btn btn-sm btn-danger btn-del"><span class="fa fa-remove"></span> 删除</button>
      </td>
    </tr>
    {{/each}}
    {{else}}
    <tr>
      <td colspan="8"> 暂无数据. </td>
    </tr>
    {{/if}}
</table>